@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Song+Myung&display=swap');

*{
    margin: 0 auto;
    padding: 0;
    font-family: 'Song Myung', serif;
    color: #333;
}
#wrap{
    width: 600px;
    height: 100%;
}
header /*#title*/{
    height: 150px;
    font-size: 23px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#title h1, h4{
    text-align: center;
}
h1{
    color: lightseagreen;
}
main{
    /* margin-top: 10px; */
    width: 400px;
    height: 500px;
    font-size: 20px;
}
form /*inputSection*/{
    height: 100px;
    position: relative;
}
.subtitle{
    font-size: 0.9em;
    position: absolute;
    top: 10px;
}
.subtitle input /*#birthday*/{
    width: 400px;
    height: 40px;
    position: relative;
    top: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(130,130,130,0.5);
    font-size: 0.9em;
    color: grey;
}
#result /*outputSection*/{
    height: 60px;
    position: relative;
}
#result .agetitle{
    font-size: 0.8em;
    position: absolute;
    top: 10px;
    left: 0px;
}
#result #age{
    font-size: 0.8em;
    position: absolute;
    top: 10px;
    left: 77px;
}
#btn /*trigger*/{
    width: 400px;
    height: 50px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 0.8em;
    background-color: lightseagreen;
}
#btn:hover{
    cursor: pointer;
}
#btn:active{
    background-color: #288681;
}
